<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Single view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="../../assets/trump.png" style="height: 300px;width: 150px;" />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title>{{name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{birthYear}}
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
