<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quartett
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    
      <ion-item *ngFor="let card of cards" routerLink="/single-card/{{card.id}}">
        <ion-label>Name: {{card.name}}</ion-label>
        <ion-label>Year of Birth: {{card.birthYear}}</ion-label>
      
      </ion-item>

  </ion-list>


  <ion-button>Play</ion-button>

   
</ion-content>
